body, html {
    height: 100%;
    margin: 8px;
    margin-left: 72px;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

    .selection-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

        .start-btn {
            position: absolute;
            top: 25em;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 10em;
            height: 3em;
        }

        aside {
            visibility: hidden;
            position: absolute;
            top: 18em;
            left: 50%;
            transform: translate(-50%,-50%);
        }

            ul {
                list-style: none;
            }

            label {
                font-size: small;
                font-weight: bold;
            }
            
            input {
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 15px;
                padding: 5px;
                height: 20px;
                width: 250px;
                border-radius: 5px;
                border: 1px solid;
                border-color: #d3d3d3;
                transition: .3s;
            }
            
            input:hover {
                transition: .3s;
                border-color: #aaa;
            }
            
            input:focus {
                outline: none;
                border: 1px solid #FA6900;
            }

        .player-one, .player-two {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8em;
            height: 2em;
            border-radius: 1em;
            padding: 1em;
            background-color: #E8DDCB;
        }

        .player-one {
            margin-right: 2.5em;
        }

        .player-two {
            margin-left: 2.5em;
        }

    .container {
        /* Position to middle of page */
        visibility: hidden;
        display: grid;
    }

    .game-board { 
        display: grid;
        grid-template-rows: repeat(var(--grid-rows), 1fr);
        grid-template-columns: repeat(var(--grid-cols), 1fr);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        /* Define Game Board Height */
        height: 25em;
        width: 25em;
        border: black;
        box-shadow: 5px 5px lightgray;
    }

        .game-square {
            border: 1px solid black;
        }

    .restart {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8em;
        height: 2em;
        border: none;
        border-radius: 1em;
        padding: 1em;
        background-color: #E8DDCB;
    }